<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Voice recorder</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="preload"
      href="https://unpkg.com/vue@2.6.10/dist/vue.js"
      as="script"
    />
    <link
      rel="preload"
      href="https://unpkg.com/vue-router@3.1.3/dist/vue-router.js"
      as="script"
    />
    <style>
      html {
        font-family: arimo, helvetica, arial, sans-serif;
        font-size: 32px;
        line-height: 1.5;
        margin: 2em;
        background: #353433;
        color: #fff;
      }

      h1 {
        color: #8b8685;
        line-height: 1;
      }
      h2 {
        margin-bottom: 0;
      }
      a {
        color: #ffa;
      }
      .btn {
        display: block;
        width: 100%;
        box-sizing: border-box;
        font: inherit;
        background: #d7fc70;
        border: 2px solid #d7fc70;
        color: #000;
        padding: 10px;
      }
      .btn.is-recording {
        background: #353433;
        color: #d7fc70;
      }
    </style>
  </head>
  <body>
    <!-- Based on vuetoy, a single-file Vue setup with no build tool: https://github.com/dtinth/vuetoy -->

    <!-- Application shell with loading indicator -->
    <div id="main" class="p-4">
      <h1 class="text-lg">Dead simple voice recorder</h1>

      <!-- Loading indicator -->
      <div v-if="false">
        Loading app…
      </div>

      <!-- The main app -->
      <template>
        <my-app></my-app>
      </template>
    </div>

    <!-- Minimal API for registering components and routes without depending on Vue. -->
    <!-- Rationale: We want to put external scripts (including Vue and Vue Router) as further down as possible, since they block page load. -->
    <script>
      var App = {
        routes: [],
        components: [],
        registerRoute(routeName, path, component) {
          App.routes.push({
            name: routeName,
            path,
            component: { template: `#${routeName}-route`, ...component }
          })
        },
        registerComponent(componentName, options) {
          App.components.push([
            componentName,
            { template: `#${componentName}-component`, ...options }
          ])
        }
      }
    </script>

    <!-- ############################################################### -->

    <template id="my-app-component">
      <div class="my-app">
        <router-view></router-view>
      </div>
    </template>
    <script>
      App.registerComponent('my-app', {})
    </script>
    <style></style>

    <!-- ############################################################### -->

    <template id="waveform-component">
      <div class="waveform">
        <div v-for="column of data" :style="{ height: column.height + '%' }"></div>
      </div>
    </template>
    <script>
      App.registerComponent('waveform', {
        props: ['data']
      })
    </script>
    <style>
      .waveform {
        display: inline-flex;
        align-items: flex-end;
        justify-content: flex-start;
        height: 64px;
        padding: 1px;
        padding-left: 0px;
        border: 2px solid #8b8685;
      }
      .waveform > div {
        background: #8b8685;
        margin-left: 1px;
        width: 4px;
      }
    </style>

    <!-- ############################################################### -->

    <template id="home-route">
      <div>
        <button
          @click="toggle"
          class="btn"
          style="position: relative;"
          :class="{ 'is-recording': recording }"
        >
          <span
            style="position: absolute; top: 0; left: 0; bottom: 0; background: #8b8685;"
            :style="{ width: (amplitude * 100).toFixed(1) + '%' }"
            v-if="recording"
          ></span>
          <span style="position: relative; display: inline-block;"
            >{{ recording ? 'Stop' : 'Record' }}</span
          >
        </button>
        <waveform v-if="currentWaveform" :data="currentWaveform"></waveform>
        <section class="mt-4">
          <h2>
            Recorded stuffs
          </h2>
          <div>
            <p
              v-for="(r, index) of recordings"
              style="display: flex; align-items: center"
              :key="r.id"
            >
              <span
                :href="r.url"
                @dragstart="onDragStart($event, r)"
                draggable
                style="margin-right: 1em; cursor: move;"
                >🎙</span
              >
              <audio :src="r.url" controls></audio>
              <a
                href="#"
                style="margin-left: 1em; text-decoration: none;"
                @click="$event.preventDefault(); recordings.splice(index, 1)"
                >❌</a
              >
            </p>
          </div>
          <p v-if="!recordings.length" style="color: #bef;">
            <em>Your recordings will appear here.</em>
          </p>
          <p style="color: #8b8685">
            <em
              >You can drag recordings out into your folder (Google Chrome
              only).</em
            >
          </p>
        </section>
      </div>
    </template>
    <script>
      let nextId = 1
      App.registerRoute('home', '/', {
        data() {
          return {
            recording: false,
            recordings: [],
            currentWaveform: null,
            amplitude: 0
          }
        },
        mounted() {
          const that = this

          this.recorder = {
            start: async () => {
              const audioCtx =
                window.mainAudioContext ||
                (window.mainAudioContext = new (window.AudioContext ||
                  window.webkitAudioContext)())
              const stream = await navigator.mediaDevices.getUserMedia({
                audio: {
                  autoGainControl: false,
                  echoCancellation: false,
                  noiseSuppression: true
                },
                video: false
              })
              const recorder = new MediaRecorder(stream, {
                mimeType: 'audio/webm; codecs="pcm"'
              })
              const source = audioCtx.createMediaStreamSource(stream)
              const processor = audioCtx.createScriptProcessor(0, 1, 1)
              const waveform = [{
                id: 0,
                height: 0,
                time: 0
              }]
              let nextWaveformColumnId = 1
              const startTime = Date.now()
              this.currentWaveform = waveform
              let lastTime = Date.now()
              processor.onaudioprocess = e => {
                const now = Date.now()
                const data = e.inputBuffer.getChannelData(0)
                let amplitude = 0
                for (let i = 0; i < data.length; i++) {
                  const a = Math.abs(data[i])
                  if (a > amplitude) amplitude = a
                }
                that.amplitude = amplitude
                const audioTime = now() - startTime
                if (audioTime - waveform[waveform.length - 1].time > 200) {
                  waveform.push({
                    id: waveform.nextId++,
                    height: Math.round(amplitude * 100),
                    time: waveform[waveform.length - 1].time + 200,
                  })
                } else {
                  const column = waveform[waveform.length - 1]
                  column.height = Math.max(column.height, Math.round(amplitude * 100))
                }
              }
              source.connect(processor)
              processor.connect(audioCtx.destination)

              const blobs = []
              recorder.ondataavailable = function(e) {
                blobs.push(e.data)
              }
              const finishPromise = new Promise(r => (recorder.onstop = r))
              recorder.start()
              this.recorder.stop = () => {
                recorder.stop()
                for (const track of stream.getTracks()) track.stop()
                source.disconnect()
                processor.disconnect()
                return {
                  getMp3: async filename => {
                    await finishPromise
                    const audioCtx = new (window.AudioContext ||
                      window.webkitAudioContext)()
                    const buffer = await new Blob(blobs).arrayBuffer()
                    const audioBuffer = await audioCtx.decodeAudioData(buffer)
                    const waveBuffer = audioBufferToWav(audioBuffer)
                    const file = new File([waveBuffer], filename, {
                      type: 'audio/wav',
                      lastModified: Date.now()
                    })
                    return file
                  }
                }
              }
            }
          }

          // Demo mode: Add a pre-recorded file
          if (location.search === '?demo') {
            fetch(
              'https://cdn.glitch.com/d2fe94e5-8121-48fa-87d8-5c1a7793c56c%2Fdemo.mp3?v=1584020680220&cors'
            )
              .then(r => r.blob())
              .then(file => {
                file.name = 'demo.mp3'
                const url = URL.createObjectURL(file)
                this.recordings.unshift({ file, url, id: nextId++ })
              })
          }
        },
        methods: {
          onDragStart(e, { file, url }) {
            e.dataTransfer.setData(
              'DownloadURL',
              [file.type, file.name, url].join(':')
            )
          },
          async toggle() {
            try {
              if (!this.recording) {
                await this.recorder.start()
                this.recording = true
              } else {
                const file = await this.recorder
                  .stop()
                  .getMp3(
                    'recording' +
                      new Date().toJSON().replace(/\W/g, '') +
                      '.wav'
                  )
                this.recording = false
                const url = URL.createObjectURL(file)
                this.recordings.unshift({ file, url, id: nextId++ })
              }
            } catch (e) {
              console.error(e)
              alert('Error: ' + e)
            }
          }
        }
      })
    </script>

    <script src="vendor/audiobuffer-to-wav.js"></script>

    <!-- ############################################################### -->

    <!-- Load the Vue dependency -->
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3.1.3/dist/vue-router.js"></script>

    <!-- Start the runtime -->
    <script>
      Vue.config.productionTip = false
      App.components.forEach(([name, options]) => Vue.component(name, options))
      App.router = new VueRouter({ routes: App.routes })
      App.vm = new Vue({ el: '#main', router: App.router })
    </script>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
