<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Voice recorder</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="preload"
      href="https://unpkg.com/vue@2.6.10/dist/vue.js"
      as="script"
    />
    <link
      rel="preload"
      href="https://unpkg.com/vue-router@3.1.3/dist/vue-router.js"
      as="script"
    />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Based on vuetoy, a single-file Vue setup with no build tool: https://github.com/dtinth/vuetoy -->

    <!-- Application shell with loading indicator -->
    <div id="main" class="p-4">
      <h1 class="text-lg mb-4">dtinth’s voice recorder</h1>

      <!-- Loading indicator -->
      <div v-if="false">
        Loading app…
      </div>

      <!-- The main app -->
      <template>
        <my-app></my-app>
      </template>
    </div>

    <!-- Minimal API for registering components and routes without depending on Vue. -->
    <!-- Rationale: We want to put external scripts (including Vue and Vue Router) as further down as possible, since they block page load. -->
    <script>
      var App = {
        routes: [],
        components: [],
        registerRoute(routeName, path, component) {
          App.routes.push({
            name: routeName,
            path,
            component: { template: `#${routeName}-route`, ...component }
          })
        },
        registerComponent(componentName, options) {
          App.components.push([
            componentName,
            { template: `#${componentName}-component`, ...options }
          ])
        }
      }
    </script>

    <!-- ############################################################### -->

    <template id="my-app-component">
      <div class="my-app">
        <router-view></router-view>
      </div>
    </template>
    <script>
      App.registerComponent('my-app', {
      })
    </script>
    <style>
    </style>

    <!-- ############################################################### -->

    <template id="home-route">
      <div>
        <p>
          <textarea class="w-full border border-gray-300" placeholder="Scratchpad (Just a stupid text box you can put anything in here... just for convenience you know)"></textarea>
        </p>
        <button @click="toggle" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">
          {{ recording ? 'Stop' : 'Record' }}
        </button>
        <ul>
          <li v-for="r of recordings" @dragstart="onDragStart($event, r)">
            <audio :src="r.url" controls></audio>
          </li>
        </ul>
      </div>
    </template>
    <script>
      App.registerRoute('home', '/', {
        data() {
          return {
            recording: false,
            recordings: [],
          }
        },
        mounted() {
          this.recorder = new MicRecorder({ bitRate: 320 })
        },
        methods: {
          onDragStart(e, { file, url }) {
            e.dataTransfer.setData(
              "DownloadURL",
              [file.name, file.type, url].join(':')
            )
          },
          async toggle() {
            try {
              if (!this.recording) {
                await this.recorder.start()
                this.recording = true
              } else {
                const [buffer, blob] = await this.recorder.stop().getMp3()
                this.recording = false
                const file = new File(buffer, 'recording' + new Date().toJSON().replace(/\D/g, '') + '.mp3', {
                  type: blob.type,
                  lastModified: Date.now()
                })
                const url = URL.createObjectURL(file)
                this.recordings.push({ file, url })
              }
            } catch (e) {
              console.error(e)
              alert('Error: ' + e)
            }
          }
        }
      })
    </script>
    <style>
      /* GitHub’s README API renders header with `a.anchor` link.
       * It does not work with Vue Router and so is hidden.
       * This is just to show the functionality of vuetoy; feel free to remove it when you implement your app. */
      .markdown-content a.anchor {
        display: none;
      }
    </style>

    <!-- ############################################################### -->

    <!-- Load the Vue dependency -->
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3.1.3/dist/vue-router.js"></script>
    <script src="https://unpkg.com/mic-recorder-to-mp3@2.2.1/dist/index.min.js"></script>

    <!-- Start the runtime -->
    <script>
      Vue.config.productionTip = false
      App.components.forEach(([name, options]) => Vue.component(name, options))
      App.router = new VueRouter({ routes: App.routes })
      App.vm = new Vue({ el: '#main', router: App.router })
    </script>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
